/*友链朋友圈手机样式*/
@media screen and (max-width: 768px) {
    .fish-pond-item {
        width: 100% !important;}
    
    }

/* 鼠标图标 
body {
  cursor: url('/img/x1.cur'), auto;
}
a,
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: url('/img/link.cur'), auto !important;
}
*/