/* 页脚与头图透明 */
#footer {
    background: transparent !important;
}
#page-header {
    background: transparent !important;
}
  
/* 白天模式遮罩透明 */
#footer::before {
    background: transparent !important;
}
#page-header::before {
    background: transparent !important;
}
  
/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}
[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/* 代码框圆角 */
#article-container figure.highlight {
    border-radius: 10px;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #3b70fc;
    border-radius: 2em;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-moz-selection {
    color: #fff;
    background-color: #3b70fc;
}

/* md网站下划线 */
#article-container a:hover {
    text-decoration: none !important;
} 
#article-container #hpp_talk p img {
    display: inline;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
    background: rgba(255, 255, 255, 0.9);
}  
/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.9);
}  
/* 文章页面正文背景 */
div#post {
    background: rgba(255, 255, 255, 0.9);
}  
/* 分页页面 */
div#page {
    background: rgba(255, 255, 255, 0.9);
}  
/* 归档页面 */
div#archive {
    background: rgba(255, 255, 255, 0.9);
} 
/* 标签页面 */
div#tag {
    background: rgba(255, 255, 255, 0.9);
} 
/* 分类页面 */
div#category {
    background: rgba(255, 255, 255, 0.9);
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #recent-posts > .recent-post-item {
    background: #121212;
}
[data-theme="dark"] .card-widget {
    background: #121212 !important;
}
[data-theme="dark"] div#post {
    background: #121212 !important;
}
[data-theme="dark"] div#tag {
    background: #121212 !important;
}
[data-theme="dark"] div#archive {
    background: #121212 !important;
}
[data-theme="dark"] div#page {
    background: #121212 !important;
}
[data-theme="dark"] div#category {
    background: #121212 !important;
}
[data-theme="dark"] div#category {
    background: transparent !important;
}

/* 小冰分类分类磁铁黑夜模式适配 */
/* 一般状态 */
[data-theme="dark"] .magnet_link_context {
    background: #1e1e1e;
    color: antiquewhite;
}
/* 鼠标悬浮状态 */
[data-theme="dark"] .magnet_link_context:hover {
    background: #3ecdf1;
    color: #f2f2f2;
}

/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
    border-radius: 10px;
} 
/* 首页侧栏卡片 */
#aside-content .card-widget {
    border-radius: 10px;
}
/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
    border-radius: 10px;
} 
/*下一篇圆角*/
#pagination .next-post img, #pagination .prev-post img, #pagination.pagination-post, .postImgHover img, .relatedPosts>.relatedPosts-list>div, .relatedPosts>.relatedPosts-list>div img {
    border-radius: 10px;
}